/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* navbar */
.navbar {
  background-color: rgb(237, 237, 237);
  padding: 20px;
  border-bottom: solid 1px grey;
}

/* form */
.form-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.form {
  width: 1000px;
}

.main-title {
  padding-top: 10px;
  color: rgb(0, 0, 0);
}

.home-btn {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.header-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.header {
  width: 1000px;
}

 .container {
  display: flex;
  justify-content: center;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1000px;
}

.card-body {
  background-color: white;
}

.card-footer {
  background-color: white;
}

.guest-price-box {
  display: flex;
}

.guest, .price {
  margin-right: 40px;
  display: flex;
}

.guest-icon, .guest-number, .price-icon, .price-number {
  margin-right: 10px;
}

.card {
  margin: 10px;
}

.card-link {
  text-decoration: none;
  font-size: .8em;
}

.more-info-btn {
  text-decoration: none;
  margin-right: 10px;
}

.edit-btn {
  text-decoration: none;
  color: rgb(255, 191, 0);
  margin-right: 10px;
}

.delete-btn {
  text-decoration: none;
  color: rgb(255, 34, 0);
  margin-right: 10px;
}

/* show css */

.image-banner {
  margin: 0;
}

.image-banner img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
